<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253826418328-essa7acm6t09gbciqo79i2rrj8f91954.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253826418328-essa7acm6t09gbciqo79i2rrj8f91954</string>
	<key>API_KEY</key>
	<string>AIzaSyClesFCKWe8mM9D4XuH0pR8W9HFIou80u0</string>
	<key>GCM_SENDER_ID</key>
	<string>253826418328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.postmanApp</string>
	<key>PROJECT_ID</key>
	<string>postmanapp-94bb8</string>
	<key>STORAGE_BUCKET</key>
	<string>postmanapp-94bb8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253826418328:ios:d0002e224166b2381e72ed</string>
</dict>
</plist>